%html
  %head
    %title ipa installer!
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
    :css
      body {
        padding-top: 80px; 
      }
      li {
        font-size: 20px; 
        line-height: 30px;
      }
    / %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "#"} .ipa Installer
  = yield