body {
	padding-top: 80px; 
}
li {
  font-size: 20px;
  line-height: 30px;
  display: block;
  background-color: #DDD;
  margin-bottom: 10px;
  margin-right: 30px;
}
.action {
  font-size: 15px;
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  li {
    font-size: 50px;
    line-height: 80px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
  li {
    font-size: 60px;
    line-height: 100px;
  }
}
